body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* Jeg har eksperimentert i CSS her og tror det er noe som ikke funker, men ser ikke helt hva. Kunne jeg fått hjelp med å identifisere hva som er "død" kode? Jeg prøvde å få inn mellomrom for litt ryddigere utseende, fikk det ikke til.*/
/* I tillegg ser jeg at når jeg inspiserer på siden, så er det plutselig kommet en hvit blokk til høyre hvor teksten fortsetter på. Hvordan fjerner jeg den? */

header {
    border-bottom: 2px solid #073B3A;
    background-color: rgba(200, 229, 255, 0.744);
    padding-top: 2px;
}

a:link {
    color: green
}

a:visited {
    color: green
}

a:hover {
    color: green
}

a:active {
    color: green
}

main {
    text-align: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    gap: 100px;
    text-shadow: 0px 0px 3px #073B3A;
    padding: 0px 3px 0px 0px;
}

section {
    height: 50vh;
    background-color: rgba(200, 229, 255, 0.744);
}

ol {
    justify-content: center;
    list-style-type: none;
}

p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

pre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    gap: 40px;
}

.textSpacing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
/* Mangler jeg noe kode her? Tror ikke denne funker */

footer {
    display: flex;
    justify-content: center;
    background-color: rgba(200, 229, 255, 0.744);
}

.hjem {
    padding-top: 7px;
}

* {
    box-sizing: border-box;
}

/* Prosjekter CSS  */

.prosjekter {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    gap: 100px;
    padding: 0px 3px 0px 0px;
}

.homeSectionptwo {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondSectionptwo {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    padding: 0% 20%;
}

.card {
    width: 500px;
    border: 2px solid #073b3a99;
    border-radius: 9px;
    display: flex;
}

.cardText {
    padding: 0px 2px;
}

.heading {
    height: 5vh;
    display: flex;
    justify-content: center;
}

.h3Ptwo {
    width: 200px;
    background-color: #073b3a56;
    text-align: center;
    padding: 4px 0px 0px 0px;
}