body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

header {
    border-width: 3px;
    border-style: solid;
    border-color: rgba(139, 255, 139, 0.518);
    background-color: rgb(200, 229, 255);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 100px;
}

section {
    height: 100vh;
    background-color: rgb(200, 229, 255);
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(200, 229, 255);
}