body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: rgb(200, 229, 255);
}

/* HEADER */
header {
    background-color: rgb(200, 229, 255);
    border-bottom: 2px solid #073B3A;
    padding-top: 2px;
    position: sticky;
    top: 0;
}

a:link {
    color: green
}

a:visited {
    color: green
}

a:hover {
    color: green
}

a:active {
    color: green
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    padding: 0px 3px 0px 0px;
    margin: 5px;
}


/* MAIN */
main {
    text-align: center;
}

p {
    display: flex;
    flex-direction: center;
    justify-content: center;
    margin: 0px;
}

.p span {
    display: block;
    justify-content: center;
}

section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    max-width: 350px;
}

.aboutSection {
    max-width: 500px;
    height: 35vh;
    margin: 0 auto;
    gap: 5px;
}

.secondContainer {
    max-width: 500px;
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.hjem {
    padding-top: 7px;
}

.parag1 {
    display: flex;
    /*flex-direction: row;*/
    flex-flow: row wrap;
    justify-content: center;
    margin: 2px;
}

ol {
    justify-content: center;
    list-style-type: none;
    margin: 2px;
}

.textSpacing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

* {
    box-sizing: border-box;
}

/* Prosjekter CSS aka side 2 */

.prosjekter {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    gap: 100px;
    padding: 0px 3px 0px 0px;
}

.homeSection2 {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    height: 10vh;
    display: flex;
    justify-content: center;
}

.h3Ptwo {
    background-color: #073b3a56;
    text-align: center;
}

.secondSection {
    height: 40vh;
    gap: 7px;
}

.card {
    max-width: 300px;
    border: 2px solid #073b3a99;
    border-radius: 9px;
    display: flex;
    flex-flow: row wrap;
}

.cardText {
    padding: 0px 2px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
}

.footerSection {
    height: 5vh;
    display: flex;
    flex-direction: column;
}

.footerSection > h3 {
    margin: 2px;
}


/* MEDIA QUERY */
@media (max-width: 426px) {
 body {
    background-color: #f4bde2;
 }

 header {
    background-color: #f4bde2;
 }

 ul {
    gap: 20px;
    margin: 5px;
    text-shadow: 0px 0px 3px #bd4595;
 }

 a:link {
    color: #c458a0
 }

 a:visited {
    color: #c458a0
 }

 a:hover {
    color: #c458a0
 }

 a:active {
    color: #c458a0
 }

 .bookmark1 {
    text-shadow: 0px 0px 3px #bd4595;
 }

 .bookmark2 {
    text-shadow: 0px 0px 3px #bd4595;
 }
}